@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* backDrop  */
.backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #05c405;
  width: 100%;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  align-items: center;
}

.main-header a {
  text-decoration: none;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  color: #0e4f1f;
}

.main-header__brand img {
  width: 20%;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.main-nav {
  display: none;
}

.main-nav__items {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  vertical-align: middle;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background: #ff1b68;
  color: antiquewhite;
  border-radius: 8px;
  padding: 6px 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: antiquewhite;
  border-bottom: 5px solid antiquewhite;
}

.main-nav__item--cta a:hover,
.main-nav__item-cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: antiquewhite;
  border: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

@media (min-width: 40rem) {
  .main-nav {
    display: flex;
  }
}

.plan .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.btn button {
  background-color: #084117;
  color: antiquewhite;
  padding: 0.6rem;
  border-radius: 8px;
  margin: 0.6rem;
  font: inherit;
  cursor: pointer;
  border: 1px solid #084117;
}

.btn button:hover,
.btn button:active {
  color: #084117;
  background-color: antiquewhite;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: gray;
}

.main-footer {
  background-color: black;
  padding: 2rem;
  margin-top: 9.5rem;
}

.main-footer__links {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

@media (min-width: 40rem) {
  .main-footer__links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.open {
  display: block !important;
}
