@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#product-overview {
  background-color: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
}

#product-overview h1 {
  font-family: 'Anton', sans-serif;
  color: antiquewhite;
}

.section-title {
  color: #05c405;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #05c405;
  width: 100%;
  padding: 0.5rem 1rem;
}

.main-header a {
  text-decoration: none;
}

.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  color: #0e4f1f;
}

.main-nav__items {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.main-nav__item a {
  color: #0e4f1f;
}

.main-nav__item a:hover {
  color: antiquewhite;
}

.main-nav__item a:active {
  color: antiquewhite;
}
