@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#product-overview {
  background: url('./freedom.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-origin: content-box;
  background-size: cover;
  width: 100%;
  height: 528px;
}

#product-overview h1 {
  font-family: 'Anton', sans-serif;
  color: antiquewhite;
}

.plan {
  display: inline-block;
  background-color: #d2eed2;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1rem;
  margin: 0.5rem;
  vertical-align: middle;
  border-radius: 12px;
}

.plan_highlighted {
  background-color: #128212;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  padding: 0.3rem;
  background-color: white;
  color: #0e4f1f;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.title {
  color: #084117;
}

.price {
  color: gray;
}

.plan_highlighted .price {
  color: #0e4f1f;
}

.plan__units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}

.plan .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.btn button {
  background-color: #084117;
  color: antiquewhite;
  padding: 0.6rem;
  border-radius: 8px;
  margin: 0.6rem;
  font: inherit;
  cursor: pointer;
  border: 1px solid #084117;
}

.btn button:hover,
.btn button:active {
  color: #084117;
  background-color: antiquewhite;
}

.section-title {
  color: #05c405;
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #05c405;
  width: 100%;
  padding: 0.5rem 1rem;
}

.main-header a {
  text-decoration: none;
}

.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  color: #0e4f1f;
}

.main-nav__items {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

.main-nav__item a {
  color: #0e4f1f;
}

/* Pseudo-classes */
.main-nav__item a::after {
  content: " (Link)";
  color: red;
}

.main-nav__item--cta a {
  background: #ff1b68;
  color: antiquewhite;
  border-radius: 8px;
  padding: 6px 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: gray;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: antiquewhite;
  border-bottom: 5px solid antiquewhite;
}

.main-nav__item--cta a:hover,
.main-nav__item-cta a:active {
  color: #ff1b68;
  background: antiquewhite;
  border: none;
}

#stick__around {
  background-color: #ff1b68;
  margin-top: 2rem;
  padding: 1rem;
}

.stick__around-header {
  color: white;
  text-align: center;
  margin: 2rem;
}

.stick_around__items {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
}

.stick_around__image {
  background-color: #f0c0c0;
  border: 3px solid gray;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: auto;
}

.main-footer {
  background-color: black;
  padding: 2rem;
}

.main-footer__links {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

