#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url('./images/freedom.jpg') center/cover no-repeat border-box #ff1b68;
  width: 100vw;
  height: 60vh;
  margin-top: 3.8rem;
}

#product-overview h1 {
  font-family: 'Anton', sans-serif;
  color: antiquewhite;
  position: absolute;
  bottom: 30%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 65vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 2.5rem;
  }
}

/* .great {
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.plan {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  background-color: #d2eed2;
  padding: 1rem;
  gap: 1rem;
  margin: 0.5rem 0;
  border-radius: 12px;
}

.plan_highlighted {
  background-color: #128212;
  color: white;
}

.plan__annotation {
  padding: 0.3rem;
  background-color: white;
  color: #0e4f1f;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.title {
  color: #084117;
}

.price {
  color: gray;
}

.plan_highlighted .price {
  color: #0e4f1f;
}

.plan__units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}

@media (min-width: 40rem) {
  #plans {
    width: 100%;
    text-align: center;
  }

  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }

  .plan_highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.section-title {
  color: #05c405;
  text-align: center;
  padding: 1rem;
}

#stick__around {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #ff1b68;
  margin-top: 2rem;
  padding: 1rem;
}

.stick__around-header {
  color: white;
  text-align: center;
  margin: 2rem;
}

.stick_around__items {
  /* display: flex; */
  gap: 12rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
}

.stick_around__item {
  vertical-align: top;
  margin-top: 1rem;
}

.stick_around__image {
  background-color: #f0c0c0;
  border: 3px solid gray;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: auto;
  padding: 1.5rem;
}

.stick__around__description {
  text-align: center;
}

@media (min-width: 40rem) {
  .stick_around__items {
    display: flex;
    max-width: 25rem;
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 30%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
