#pack_one {
  background-color: aquamarine;
  width: 80%;
  padding: 3rem;
  border: 5px solid green;
  margin: 1rem;
}

#pack_two {
  background-color: aquamarine;
  width: 80%;
  padding: 3rem;
  border: 5px solid green;
  margin: 1rem;
}

#pack_three {
  background-color: aquamarine;
  width: 80%;
  padding: 3rem;
  border: 5px solid green;
  margin: 1rem;
}
