@font-face {
  font-family: "AnonymousPro";
  src: url("anonymousPro-Regular.ttf");
}

@font-face {
  font-family: "AnonymousPro";
  src: url("anonymousPro-Bold.ttf");
  font-weight: 700;
}

main {
  padding-top: 4rem;
}

.background {
  background-image: url('../images/plans-background.jpg');
  filter: grayscale(100%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.pack__plans-badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #fc3e4d;
  padding: 0.5rem;
}

#pack_one {
  background-color: rgb(209, 236, 209);
  width: 80%;
  padding: 2rem;
  border: 5px solid green;
  margin: 1rem 0;
  border-left: none;
  position: relative;
  z-index: -1;
  min-width: 19rem;
}

#pack_one:hover,
#pack_one:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: maroon;
}

.pack__plans-1 {
  text-decoration: none;
}

.pack__plans-1_header {
  color: black;
  padding: 0.2rem;
  border-bottom: none;
}

.pack_plans-1_subtitle {
  color: gray;
  padding: 1rem 0.2rem;
}

.pack__plans-1_description {
  background-color: white;
  padding: 0.8rem;
  color: black;
  border: 1px solid #016b01;
  font-family: "AnonymousPro", sans-serif;
  font-weight: 700;
}

.clearfix {
  clear: both;
}

#pack_two {
  background-color: rgb(203, 228, 238);
  width: 80%;
  padding: 2rem;
  border: 5px solid green;
  margin: 1rem 0;
  border-right: none;
  float: right;
  min-width: 19rem;
}

#pack_two:hover,
#pack_two:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: maroon;
}

.pack__plans-2 {
  text-decoration: none;
  text-align: right;
}

.pack__plans-2_header {
  color: black;
  padding: 0.2rem;
  border-bottom: none;
}

.pack_plans-2_subtitle {
  color: gray;
  padding: 1rem 0.2rem;
}

.pack__plans-2_description {
  background-color: white;
  padding: 0.8rem;
  color: black;
  border: 1px solid #016b01;
}

#pack_three {
  background-color: rgb(48, 73, 35);
  width: 80%;
  padding: 3rem;
  border: 5px solid green;
  margin: 1rem 0;
  border-left: none;
  min-width: 19rem;
}

#pack_three:hover,
#pack_three:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: maroon;
}

#pack_three .pack__plans-3 {
  text-decoration: none;
}

.pack__plans-3_header {
  color: white;
  padding: 0.2rem;
  border-bottom: none;
}

.pack_plans-3_subtitle {
  color: #bbb;
  padding: 1rem 0.2rem;
}

.pack__plans-3_description {
  background-color: white;
  padding: 0.8rem;
  color: black;
  border: 1px solid #016b01;
}

@media (min-width: 40rem) {
  main {
    margin: 2.8rem auto;
    max-width: 1000px;
  }
}

@media (min-width: 1000px) {
  #pack_one,
  #pack_two,
  #pack_three {
    min-width: 66%;
    border-left: 5px solid green;
  }

  #pack_two {
    border-right: 5px solid green;
  }

  #pack_two:hover,
  #pack_two:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: maroon;
  }
}
